<?xml version="1.0" encoding="UTF-8" ?>
<!--

       Copyright 2015-2022 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          https://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzm.aio.mapper.MomoNotepadMapper">

    <resultMap id="NotepadMap" type="com.wzm.aio.domain.MomoLocalNotepad">
        <result property="cloudId" column="cloud_id"/>
        <result property="createdTime" column="create_time"/>
        <result property="updatedTime" column="update_time"/>
    </resultMap>


    <select id="selectAll" resultMap="NotepadMap">
        select * from momo_notepad
    </select>

    <select id="selectById" resultMap="NotepadMap">
        select * from momo_notepad where id = #{id}
    </select>

    <select id="selectByCloudId" resultMap="NotepadMap">
        select * from momo_notepad where cloud_id = #{cloudId}

    </select>

    <update id="update" parameterType="com.wzm.aio.domain.MomoLocalNotepad">
        update momo_notepad
         <set>
             <if test="cloudId != null">cloud_id=#{cloudId}</if>
             <if test="type != null">type=#{type}</if>
             <if test="status != null">status=#{status}</if>
             <if test="title != null">title=#{title}</if>
             <if test="brief != null">brief=#{brief}</if>
             <if test="tags != null">tags=#{tags}</if>
             <if test="created_time != null">title=#{createdTime}</if>
             <if test="updatedTime != null">updated_time=#{updatedTime}</if>
         </set>
        where id = #{id}
    </update>

    <insert id="insert" parameterType="com.wzm.aio.domain.MomoLocalNotepad">
        insert into momo_notepad (cloud_id, title, brief, tags, type, status, create_time, update_time)
        VALUES (#{cloudId},#{title},#{brief},#{tags},#{type},#{status},#{createdTime},#{updatedTime} )
    </insert>
    <insert id="insertAndGetPrimaryKey" useGeneratedKeys="true" keyProperty="id" parameterType="com.wzm.aio.domain.MomoLocalNotepad">
        insert into momo_notepad (cloud_id, title, brief, tags, type, status, create_time, update_time)
        VALUES (#{cloudId},#{title},#{brief},#{tags},#{type},#{status},#{createdTime},#{updatedTime} )
    </insert>
</mapper>